table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: lightgray;
}

form {
  margin: 20px 0;
  text-align: center;
}

label, input[type="text"], button {
  margin: 10px;
}
