body{
    background-color: darkgray;
}
#title {
    font-size: 60px;
    margin: auto;  
    text-align: center; 
    width: 70%;
    font-family: 'PT Sans', sans-serif;
    padding: 20px;
}
#
.country {
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    margin: auto;
    text-align: center;
}
