body{
    background-color: darkgray;
    font-family: 'PT Sans', sans-serif;
}
#title {
    font-size: 60px;
    margin: auto;  
    text-align: center; 
    width: 70%;
    padding: 20px;
}
.country1 {
    font-size: 30px;
    margin: auto;
    text-align: center;
}
#fcountry {
    padding-bottom: 8px;
    text-align: center;
}
#button1 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
#return_0 {
    margin:auto;
    text-align: center;
    padding-top: 20px;
}
#return_1 {
    padding-top: 40px;
    margin: auto;
    text-align: center;
}
#return_2 {
    padding-top: 20px;
    margin: auto;
    text-align: center;
}
#return_3 {
    padding-top: 20px;
    margin: auto;
    text-align: center;
}
#return_4 {
    padding-top: 20px;
    margin: auto;
    text-align: center;
}
#return_5 {
    padding-top: 20px;
    margin: auto;
    text-align: center;
}
#return_6 {
    padding-top: 20px;
    margin: auto;
    text-align: center;
}